@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navBar {
  padding: 16px 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.menu_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  max-width: 130px;
}
.logo img {
  width: auto;
  max-width: 100%;
  /* height: 42.75px; */
}

.navMenu {
  text-transform: uppercase;
}
.navMenu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navMenu ul li + li {
  margin-left: 24px;
}
.navMenu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.loginbut button {
  color: white;
  background-color: #d01c28;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: none;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 16px;
  margin: 0 0;
}
